:root {
  --sand: #F0DFBB;
  --black: #000;
}

html {
  height: 100%;
}

body {
  font-family: Space Grotesk, Helvetica, San Francisco, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--black);
  color: var(--sand);
  width: 100%;
	height: 100%;

	display:grid;
	justify-content:center;
	align-items:center;
}

a {
  text-decoration: none;
}

.featured-link h6 {
  text-transform: uppercase;
  color: var(--sand);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1pc;
}

.link-content {
  text-align: center;
  width: 240px;
  height: 240px;
  
  display:grid;
  justify-content:center;
  align-items:center;
  
  padding:80px;
  position: relative;
}

.link-content::before, .link-content::after, .featured-link h6::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

/* MAIN BODY */
.link-content::before {
  background-image: url("stripe-pattern-sand-23pc-opacity.png");
  background-size: 9px;
  
  border: 1px dashed rgba(100, 100, 106, 0.5);
  padding: 8px;
  background-clip: content-box;
  inset: 0px;
  
  transition: 200ms ease-out ;
}

/* INNER STROKE */
.link-content::after {
  inset: -25px;  
  border: 2px solid rgba(100, 100, 106, 0.3);
  
  transition: 200ms ease-out 50ms;
}

/* OUTER STROKE */
.link-text::before {
  inset: -30px;
  border: 1px solid rgba(100, 100, 106, 0.3);
  
  transition: 250ms ease-out 50ms;
}


/* HOVER STYLES ///////////////////////////////////////////////////////////////////////////// */

/* MAIN BODY */
.featured-link:hover .link-content::before{
  inset: -30px;
  
  border: 1px dashed rgba(100, 100, 106, 0.8);
}

/* INNER STROKE */
.featured-link:hover .link-content::after{
  inset: -60px;
  
  border: 2px solid rgba(100, 100, 106, 0.8);
}

/* OUTER STROKE */
.featured-link:hover .link-text::before{
  inset: -70px;
  
  border: 1px solid rgba(100, 100, 106, 0.8);
}